.image_container {
    position: relative;
    left: 10%;
    display: inline-block;   
}

.image_container img {
    display: block;
    width: 100%;
    height: auto;
}


.green_mid {
    position: absolute;
    top: 65%; 
    left: 65%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 50px; 
    text-align: center;
}

.green_h {
    position:absolute ;
    top:65%; 
    left: 100%; 
    transform: translate(-50%, -50%); 
    color: hsl(129, 100%, 50%); 
    padding: 10px 20px; 
    font-size: 40px; 
    text-align: center;
}

.green_w {
    position: absolute;
    top: 102%; 
    left: 65%; 
    transform: translate(-50%, -50%); 
    color: hsl(129, 100%, 50%); 
    padding: 10px 20px; 
    font-size: 40px; 
    text-align: center;
}

.red_mid {
    position: absolute;
    top: 19%; 
    left: 19%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 40px; 
    text-align: center;
}

.red_h {
    position: absolute;
    top: 19%; 
    left: 0.5%; 
    transform: translate(-50%, -50%); 
    color: #e83d3d; 
    padding: 10px 20px; 
    font-size: 30px; 
    text-align: center;
}

.red_w {
    position: absolute;
    top: 0.5%; 
    left: 19%; 
    transform: translate(-50%, -50%); 
    color: #e83d3d; 
    padding: 10px 20px; 
    font-size: 30px; 
    text-align: center;
}

.blue_1 {
    position: absolute;
    top: 64%; 
    left: 19%; 
    transform: translate(-50%, -50%); 
    color: #ffffff; 
    padding: 10px 20px; 
    font-size: 50px; 
    text-align: center;
}

.blue_1_h {
    position: absolute;
    top: 102%; 
    left: 19%; 
    transform: translate(-50%, -50%); 
    color: #3bb3fd; 
    padding: 10px 20px; 
    font-size: 40px; 
    text-align: center;
}

.blue_1_w {
    position: absolute;
    top: 50%; 
    left: -2%; 
    transform: translate(-50%, -50%); 
    color: #3bb3fd; 
    padding: 10px 20px; 
    font-size: 40px; 
    text-align: center;
}

.blue_2 {
    position: absolute;
    top: 19%; 
    left: 64%; 
    transform: translate(-50%, -50%); 
    color: #ffffff; 
    padding: 10px 20px; 
    font-size: 50px; 
    text-align: center;
}

.blue_2_h {
    position: absolute;
    top: 19%; 
    left: 102%; 
    transform: translate(-50%, -50%); 
    color: #3bb3fd; 
    padding: 10px 20px; 
    font-size: 40px; 
    text-align: center;
}

.blue_2_w {
    position: absolute;
    top: -2%; 
    left: 65%; 
    transform: translate(-50%, -50%); 
    color: #3bb3fd; 
    padding: 10px 20px; 
    font-size: 40px; 
    text-align: center;
}